<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642198952499-c24jl0t7r3u8edsjovbl25f29or4isr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642198952499-c24jl0t7r3u8edsjovbl25f29or4isr6</string>
	<key>API_KEY</key>
	<string>AIzaSyBoDeUm2TSLQKI1RtM1ZgT1SLGXbjTlKas</string>
	<key>GCM_SENDER_ID</key>
	<string>642198952499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.foi.InstaAd</string>
	<key>PROJECT_ID</key>
	<string>instad-f1929</string>
	<key>STORAGE_BUCKET</key>
	<string>instad-f1929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642198952499:ios:95ac21da4d3f3eea</string>
	<key>DATABASE_URL</key>
	<string>https://instad-f1929.firebaseio.com</string>
</dict>
</plist>